<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investemnt">Initial Investment</label>
      <input id="initial-investemnt" type="number" [(ngModel)]="enterInitialInvestment" name="initial-investemnt"/>
    </p>
    <p>
      <label for="anual-investemnt">Anual Investment</label>
      <input id="anual-investemnt" type="number"  [(ngModel)]="enteredanualInvestment" name="anual-investemnt"/>
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-investemnt">Expected Return</label>
      <input id="expected-investemnt" type="number"  [(ngModel)]="enteredExpectedReturn" name="expected-investemnt"/>
    </p>
    <p>
      <label for="duration">Duration</label>
      <input id="duration" type="number"  [(ngModel)]="enteredDuration" name="duration"/>
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
